.NavegacaoDeIndice {
  // border: 1px solid red;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  bottom: 3rem;
  padding: 1rem 0rem;
  display: flex;
  gap: 1rem;
  button {
    // border: 1px solid blue;
    border: none;
    background-color: transparent;
    font-family: "Exo 2", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 0.07rem;
    &::first-letter {
      text-transform: uppercase;
    }
    a {
      color: #4d4f4f;
      text-decoration: none;
    }
    img {
      opacity: 0.9;
      width: 1.5rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      &:hover {
        opacity: 1;
      }
    }
  }
}

// @media (max-width: 821px) {
//   .NavegacaoDeIndice {
//   }
// }
