.conteudoInicial {
  // border: 1px solid red;
  position: relative;
  left: 2%;
  display: grid;
  grid-template: auto 1fr / 1fr 2fr;
  gap: 2rem;
  h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
  }
  p {
    font-family: "Exo 2", sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
    grid-row: 2/3;
    line-height: 2.3rem;
  }
  img {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
    // border: 1px solid #4d4f4f;
    border-radius: 0.5rem;
  }
}

@media (max-width: 1045px) {
  .conteudoInicial {
    grid-template: auto 1fr auto / 1fr;
    h1 {
      text-align: center;
      // display: none;
      grid-row: 1/2;
    }
    p {
      grid-row: 3/4;
    }
    img {
      grid-column: 1/2;
      grid-row: 2/3;
      width: 100%;
    }
  }
}
