.Documentacao {
  position: relative;
  left: 2%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  // border: 1px solid red;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
  .flexIconesDeDocumentacao {
    display: flex;
    justify-content: space-evenly;
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      img {
        width: 5rem;
      }
      h3 {
        font-family: "Exo 2", sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
  }

  // grid-template: auto 1fr / 1fr 2fr;
  // gap: 2rem;
}
